<div style="float: left;">
    <div style="position: relative;">
        <canvas id="canvas"></canvas>
        <div id="overlayChat" style="position: absolute; left: 16px; top: 16px; padding: 8px; background: #000000; color: #FFFFFF; opacity: 0.6; width: 350px;">
            <div id="overlayChatOutput">
            </div>
            <div>
                <input id="overlayChatInput" style="width: 325; background: #000000; color: #FFFFFF; border: 1px #444444 solid; font-family: Arial; font-size: 16px; display: none;" autocomplete="off" />
            </div>
        </div>
    </div>
    <h2>{{gameName}}</h2>
    {{{instructions}}}
    <p {{^debugMode}}style="display: none;"{{/debugMode}}>
        Ping time: <span id="pingTime"></span> ms
    </p>
    <p>
        <a href="menu">Return to Menu</a>
    </p>
</div>
<div style="float: left; margin-left: 15px; margin-top: 15px; width: 350px;">
    <div style="background: #444444; padding-right: 8px; padding-bottom: 8px; border-radius: 15px;">
        {{#modules}}
            <button id="{{name}}Button" class="moduleButton" onclick="showOrHideModuleByName('{{name}}');">{{buttonLabel}}</button>
        {{/modules}}
    </div>
    {{#modules}}
        <div id="{{name}}Module" class="module">
            <p>
                <div style="float: left;">
                    <h2 style="text-transform: uppercase;">{{title}}</h2>
                </div>
                <div style="float: right;">
                    <button class="closeButton" onclick="hideModuleByName('{{name}}');">&#xD7;</button>
                </div>
                <br style="clear: both;" />
            </p>
            {{{viewContent}}}
        </div>
    {{/modules}}
</div>
<br style="clear: both;" />
<script>

canvasWidth = {{canvasWidth}};
canvasHeight = {{canvasHeight}};
canvasBackgroundColor = "{{{canvasBackgroundColor}}}";
framesPerSecond = {{framesPerSecond}};

baseInitializeGame();

{{#modules}}
var tempModule = new Module("{{name}}");
{{#shouldShowOnLoad}}
tempModule.show();
{{/shouldShowOnLoad}}
{{/modules}}

</script>


