<p>
    A game by {{author}}
</p>
<p>
    Created using the <a href="https://github.com/ostracod/ostracod-multiplayer">OstracodMultiplayer</a> framework
</p>
{{{welcomeContent}}}
<h2>LOG IN</h2>
<form onsubmit="processFields(); return false;">
    <table>
        <tr>
            <td>Username:</td>
            <td><input id="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="password" type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>
<p id="message">

</p>
<p>
    <a href="createAccount">Create a New Account</a>
</p>
<p>
    <a href="leaderBoard">Leader Board</a>
</p>


